@import "application.scss";

.container {
  margin: 0 auto;
  background: #f5f5f5;
  width: 100%;
  &__category {
    height: 50px;
    background-color: white;
    border: 1px solid gainsboro;
    box-shadow: 0px 5px 3px -3px rgba(0,0,0,0.3);
    margin-bottom: 2px;
    line-height: 50px; 
    ul {    
      margin-left: 215px;
      display: flex;
      list-style: none;
      font-size: 15px;
      
      li {
        margin-left: 8px;
        i {
          color: rgb(116, 111, 111);
        }
        a {
           color: rgb(116, 111, 111);
          }
        p {
          font-weight: bold;
        }
        a:hover {
          color: #3ccace;
          
        }
      }
     
      
    }
  }
  &__box {
    width: 700px;
    margin: 40px auto 0;
    padding-bottom: 20px;
  }
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic",
    "メイリオ", "Meiryo", sans-serif;
  .item-box-container {
    padding: 24px 40px 20px;
    margin-bottom: 20px;
    background: #fff;
    .item-name {
      font-size: 24px;
      text-align: center;
      word-wrap: break-word;
      line-height: 1.4;
    }
    &__item-main-content-clearfix {
      display: flex;
      position: relative;
      margin: 0 auto;
      margin: 16px 0 0;
      &__image {
        width: 620px;
        height: 375px;        
        &__detail {
          display: inline-block;
          width: 620px;
          height: 375px;
        } 
        &__dot {
          flex-wrap: wrap;        
          padding: 10px;
          display: flex;
          list-style: none;
          justify-content: center;             
        }       
      }
      &__table {
        width: 620px;
        height: 463px;
        &__td {
          flex-direction: column;
        }
        table {
          border-color: #fafafa;
          float: right;         
          margin: 0 auto;
          tr {
            background-repeat: no-repeat;
            line-height: 1.5;
            margin: 0;
            padding: 0;
            th {
              font-size: 14px;
              width: 15%;
              text-align: center;
              line-height: 2;
              font-weight: 400;
              background-color: #fafafa;
              border: solid 1px;
              padding: 8px;
              a {
                width: 61%;
              }
            }
            td {
              display: table-cell;
              font-size: 15px;
              width: 39%;
              text-align: left;
              font-weight: 400;
              border: solid 1px;
              padding: 8px;
              a {
                flex-direction: column;
                text-decoration: none;
                color: #0099e8;
              }
            }
          }
        }
      }
    }
    .item-price-box {
      text-align: center;
      vertical-align: auto;
      &__bold {
        font-weight: 600;
        margin: 0 auto;
        font-size: 50px;
      }
    }
    .item-tax-box {
      width: 620px;
      display: flex;
      justify-content: center;
      margin-left: 50px;      
    }
    .item-buy-button {      
      &__buy {
      height: 60px;
      width: 620px;
      display: block;
      text-align: center;
      line-height: 60px;
      background-color: $lightgreen;
      margin-top: 20px;
      border-radius: 10px;
      font-size: 25px;
      color: $whiteText; 
      }   
    }
    .item-edit-button {
      &__edit {
      height: 50px;
      width: 620px;
      display: block;
      text-align: center;
      line-height: 50px;
      background-color: $lightgreen;
      margin-top: 20px;
      border-radius: 10px;
      font-size: 15px;
      color: $whiteText; 
      }
    }
    .item-delete-button {
      &__delete {
      height: 50px;
      width: 620px;
      display: block;
      text-align: center;
      line-height: 50px;
      background-color: #d3d3d3;
      border-radius: 10px;
      font-size: 15px;
      color: $whiteText;  
      }
    }
    .choice-text {
      height: 50px;
      width: 620px;
      text-align: center;
      line-height: 50px;    
      font-size: 15px;    
    }
    .item-text-box {
      margin: 30px 0;
      font-weight: 350;
      overflow: hidden;
      height: 6em;
      font-size: 20px;
    }
    .item-tax-box {
      text-align: center;
    }
    .item-name-box {
      margin-bottom: 40px;
      &__left {
        font-weight: 350;
        font-size: 20px;
      }
    }
  }
  .item-description {    
      height: 100px;
      width: 620px;
      padding-top: 30px;
      display: flex;
      justify-content: space-between; 
      .item-description__btn-left:hover{
        opacity: 0.5;
      }    
      &__btn-left {
        border: 1px solid #ffb340;       
        border-radius: 20px;
        height: 40px;
        width: 140px;        
        display: flex;
        line-height: 40px;
        &__star-icon {
          padding-left: 5px;
          height: 40px;
          width: 30px;
          color: #0099e8;
        }           
        &__button-like {        
        font-size: 100%;
        color: #0099e8;         
      } 
    } 
      &__btn-right {               
        height: 35px;
        width: 160px;
        display: flex;        
        line-height: 2.8;             
        a {         
          text-decoration: none;
          color: #333;
          font-size: 80%;           
          display: flex;
          border: thin solid;
          border-radius: 5px;          
          width: 100%;
        }
        a:hover {
          opacity: 0.4;
        }               
        &__flag-icon {
          text-align: center;
          width: 32px;
          color: #333;                
        } 
      }
    }
    
  .item-detail-message {
    width: 700px;
    padding-top: 15px;   
    background-color: #fff;
    border-width: 0;
    &__container{
      textarea {
        margin: 0 auto;
        display: block;
        resize: none;
        width:600px;
        height:100px;
        padding: 10px;
        border: 1px solid #ccc;      
        font-size: 16px;
        line-height: 1.5;
        box-sizing: border-box;        
      }
    }
    &__content {
      padding: 24px;
      margin: 0;     
      p {
        color: #333;
        padding: 16px;     
        font-size: 16px;
        background: #f8f8f8;
      }
    }
    &__btn {
      line-height: 60px;
      width: 60%;
      margin-left: 130px;
      margin-top: 30px;
      font-size: 0;
      background: $lightgreen;     
      border-radius: 30px;
      display: flex;
      justify-content: center;
      &__icon {
        font-size: 20px;        
        width: 25px;
        color: $whiteText;
      }
      &__text {
        color: $whiteText;
        font-size: 20px;
        text-align: center;
      }
    }
  }
}
.container {
  &__media {
    margin: 24px auto;
    padding: 0, 24px;
    width: 700px;
    height: 10em;   
    &__text {
      height: 40px;
      padding: 10px 0 0;
      text-align: center;
      display: flex;
      justify-content: space-between;
      a {
        text-decoration: none;
        color: $lightgreen;
      }
    }
    &__box{
      height: 100px;
      padding: 10px 0 0;
      a{
      text-decoration: none;
      font-size: 20px;
      color: $lightgreen;
        } 
      }      
    }
  }
.exhibit-box{ 
  a {
    display: inline-block;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: $lightgreen;
    border: thin solid $lightgreen;
    border-radius: 10px;
    text-align: center;
  } 
  a:hover {
    opacity: 0.5;
  } 
  .exhibit-btn{
    padding: 15px;
    height: 120px;
    width: 120px;
    &__text {
      height: 20px;
      color: $whiteText;
      font-size: 20px;
      padding-top: 6px;
    }
    &__icon {
      height: 30px;
      padding-top: 14px;
      color: $whiteText;
      font-size: 50px;   
    }  
  }  
}