@import "application.scss";

.sell {
  background: #f5f5f5;
  color: #333;
  .form-require {
    box-sizing: border-box;
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic,
      メイリオ, Meiryo, sans-serif;
    background: rgb(37, 190, 218);
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color:  $whiteText;
    font-size: 12px;
    vertical-align: top;
    font-weight: 600;
  }
  &__main {
    width: 800px;
    margin: 0 auto;
    background-color: #fff;
    &__content {
      &__head {
        padding: 32px 16px;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic,
          メイリオ, Meiryo, sans-serif;
      }
      &__file {
        width: 700px;
        padding: 40px;
        border-top: 1px solid #eee;
        box-sizing: border-box;
        font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic,
          メイリオ, Meiryo, sans-serif;
        &__up {
          &__head {
            font-size: 16px;
            font-weight: bold;
            &__text {
              margin: 8px 0 0;
              line-height: 1.5;
              font-weight: normal;
              font-size: 14px;
            }
          }
          // 画像選択エリア
          &__box {
            display: flex;
            width: 720px;
            margin: 16px auto 0;
            min-height: 162px;
            background: #f5f5f5;
            border: 1px dashed #ccc;
            font-size: 0;
            text-align: center;
            box-sizing: border-box;
            font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体,
              YuGothic, メイリオ, Meiryo, sans-serif;
            -webkit-transition: -webkit-box-shadow ease-out 0.3s;
            transition: -webkit-box-shadow ease-out 0.3s;
            transition: box-shadow ease-out 0.3s;
            transition: box-shadow ease-out 0.3s,
              -webkit-box-shadow ease-out 0.3s;
            cursor: pointer;
            /*-- アップロードボタン --*/
            .input_file { display: none; }
            .input_file + label { cursor: pointer; display: inline-block; padding: 5px 10px; font-size: 1.4rem; color: #fff; text-decoration: none; border-radius: 4px; background: #167392; }

            /*-- プレビューエリア --*/
            #preview_result { max-width: 240px; margin-top: 10px; padding: 10px; color: #bbb; text-align: center; background: #eee; }
            #preview_result img { width: 100%; margin-bottom: 5px; vertical-align: bottom; }
            #preview_result img:last-child { margin-bottom: 0; }

            align-items: center;


            // プレビュー画像横並びエリア（画像追加削除処理で使用）
            #image-box{
              width: 600px;
              margin: 0 auto;

              // プレビュー画像横並びエリア
              #previews{
                display: flex;
                // プレビュー画像＋削除ボタン
                .preview{
                  margin: 0px 10px;
                  // 削除ボタン
                  &__remove{
                    margin-top: 5px;
                    display: block;
                    font-size: 15px;
                    text-align: center;
                    font-weight: bold;
                    
                  }
                }
              }

              // 実際にファイル管理するエリア（ファイル選択ボタンと削除ボタンのエリア）
              .js-file_group{
                display: none;
              }
            }
          }
          
        
          // 画像選択のエラーメッセージエリア
          &__error{
            margin-top: 20px;
            color: red;
          }
        }
        &__input {
          width: 100%;
          margin: 8px 0 0;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          font-weight: normal;
        }

        // 画像追加ボタン
        #add_image{
          width: 720px;
          font-size: 18px;
          text-align: center;
          margin-top: 20px;
          &:hover {
            cursor : pointer;
          }
        }
        
      }
      &__form {
        width: 800px;
        padding: 40px;
        border-top: 1px solid #eee;
        display: block;
        box-sizing: border-box;
        font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic,
          メイリオ, Meiryo, sans-serif;
        label {
          font-weight: 600;
          font-size: 14px;
        }
        &:after {
          content: "";
          clear: both;
          display: block;
        }
        &__input {
          width: 100%;
          margin: 8px 0 20px;
          font-weight: normal;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          box-sizing: border-box;
          font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体,
            YuGothic, メイリオ, Meiryo, sans-serif;
          &:nth-child(3) {
            height: 142px;
          }
        }
        // 商品説明のテキストエリア
        textarea{
          width: 100%;
          height: 150px;
        }
        &__sub {
          color: #888;
          font-size: 14px;
          float: left;
          &__icon {
            display: inline-block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: #0099e8;
            color: $whiteText;
            line-height: 14px;
            font-size: 12px;
            text-align: center;
            text-decoration: none;
            &:hover {
              opacity: 0.7;
            }
          }
        }
        &__box {
          float: right;
          width: 400px;
          margin: 0;
          &__group {
            &__select {
              margin: 8px 0 0;
              select {
                width: 400px;
                height: 48px;
                padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: 0;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
                margin: 0 0 20px;                
              }
            }
            // 配送料負担のエラーメッセージエリア
            &__shipping_payer--error, &__shipping_from_area--error{
              color: red;
              margin-bottom: 30px;
            }
            &__shipping_duration--error{
              color: red;
            }
          }
          // カテゴリーのエラーメッセージエリア
          &__category--error{
            color: red;
            margin-bottom: 30px;
          }
          .listing-select-wrapper__box--select{
            width: 400px;
            height: 48px;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: 0;
            font-size: 16px;
            line-height: 1.5;
            cursor: pointer;
            margin: 0 0 20px;
          }
          &__price {
            &__top {
              padding: 0 0 24px;
              border: 0;
              display: block;
              height: 72px;
              box-sizing: border-box;
              font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体,
                YuGothic, メイリオ, Meiryo, sans-serif;
              &__left {
                width: 50%;
                line-height: 48px;
                font-weight: 600;
                float: left;
              }
              &__right {
                width: 50%;
                text-align: right;
                float: right;
                align-items: center;
                display: flex;
                &__input {
                  display: inline-block;
                  width: 100%;
                  margin: 0 0 0 5%;
                  height: 48px;
                  padding: 10px 16px 8px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: #fff;
                  line-height: 1.5;
                  font-size: 20px;
                  text-align: right;
                  box-sizing: border-box;
                  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体,
                    YuGothic, メイリオ, Meiryo, sans-serif;
                }
              }
              // 販売価格のエラーメッセージエリア
              &__error{
                clear: both;
                line-height: 30px;
                color: red;
              }
            }
            &__fee {
              display: block;
              padding: 24px 0;
              border-top: 1px solid #ccc;
              height: 63px;
              box-sizing: border-box;
              font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体,
                YuGothic, メイリオ, Meiryo, sans-serif;
              &__left {
                text-align: left;
                font-size: 15px;
                float: left;
              }
              &__right {
                float: right;
                font-size: 18px;
                text-align: right;
              }
              
              
            }
            &__profit {
              padding: 24px 0;
              border-top: 1px solid #ccc;
              &__left {
                font-size: 16px;
                font-weight: 600;
              }
              &__right {
                float: right;
                font-size: 28px;
              }
            }
          }
          // 商品の状態のエラーメッセージエリア
          &__condition--error{
            color: red;
            font-weight: normal;
            font-size: 16px;
          }
        }
        // 商品名のエラーメッセージエリア
        &__name--error{
          color: red;
          margin-bottom: 50px;
        }
        &__description--error{
          color: red;
        }
      }
      &__button {
        padding: 40px;
        border-top: 1px solid #eee;
        font-size: 14px;
        a {
          color: #0099e8;
          text-decoration: none;
          &:hover {
            opacity: 0.7;
            text-decoration: underline;
          }
        }
        &__blue {
          margin: 24px auto 0;
          background: rgb(37, 190, 218);
          border: 1px solid rgb(37, 190, 218);
          color: $whiteText;
          display: block;
          width: 60%;
          line-height: 48px;
          font-size: 20px;
          border: 1px solid transparent;
          border-radius: 5px;
          -webkit-transition: all ease-out 0.3s;
          transition: all ease-out 0.3s;
          cursor: pointer;
          text-align: center;
          &:hover {
            opacity: 0.7;
            text-decoration: none !important;
          }
        }
        &__gray {
          color: #fff !important;
          width: 60%;
          margin: 24px auto 0;
          background: #aaa;
          border: 1px solid #aaa;
          display: block;
          line-height: 48px;
          font-size: 20px;
          border: 1px solid transparent;
          border-radius: 5px;
          -webkit-transition: all ease-out 0.3s;
          transition: all ease-out 0.3s;
          cursor: pointer;
          text-align: center;
          &:hover {
            opacity: 0.7;
            text-decoration: none !important;
          }
        }
      }
    }
  }
}
