.footer--sub
  %ul.footer--sub__lists
    %li.footer--sub__lists__list
      %a{ href: '#' , class: 'footer--sub__lists__list--link'}
        プライバシーポリシー
    %li.footer--sub__lists__list
      %a{ href: '#' , class: 'footer--sub__lists__list--link'}
        FURIMA利用規約
    %li.footer--sub__lists__list
      %a{ href: '#' , class: 'footer--sub__lists__list--link'}
        ポイントに関する特約
  .footer--sub__logo
    %a{ href: 'http://furima.tokyo/' , class: 'footer--sub__logo--link'}
      = image_tag 'logo/logo.png', alt: '画像を表示できません', class: 'footer--sub__logo--link__img'
  .footer--sub__inc-name
    © FURIMA, Inc.